#indexPage {
    color: white;
    background-image: linear-gradient(90deg, #088856, #c44fb1);
}

.header {
    padding: 20vh 20vh 10vh;
    max-width: none;
    position: relative;
    z-index: 1;
}

.headerHeadshot {
    min-width: 30vw;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.nameHeader {
    font-size: 5vw;
    font-family: 'Palanquin', sans-serif;
}

.contactBar {
    min-width: 24vw;
    display: flex;
    background-color: rgb(25, 50, 75);
    position: relative;
    margin: 0 3vw;
    padding: 5px 0;
    justify-content: center;
    border-radius: 10px;
}

.contacts {
    color: white;
    padding: 0 2.5vw;
    font-size: 3vw;
}

.contacts:hover {
    color: #F4A259;
}

.portfolioHeader {
    font-size: 5vw;
    position: relative;
    z-index: 1;
    text-align: center;
    font-family: 'Palanquin', sans-serif;
}

.anchor {
    display: block;
    position: relative;
    visibility: hidden;
}