#indexPage {
    color: white;
    background-image: linear-gradient(90deg, #088856, #c44fb1);
}

.header {
    padding: 10vw 12vw 5vw;
    max-width: none;
    position: relative;
    z-index: 1;
}

.headerHeadshot {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.bio {
    font-size: 2vw;
    margin-top: 5vw;
    text-align: center;
    font-family: 'Palanquin', sans-serif;
}

.nameHeader {
    font-size: 5vw;
    font-family: 'Palanquin', sans-serif;
}

.bioHeader {
    font-size: 3vw;
    font-family: 'Palanquin', sans-serif;
}

.contactBar {
    min-width: 19vw;
    display: flex;
    background-color: rgb(25, 50, 75);
    position: relative;
    margin: 0 2vw;
    padding: 5px 0;
    justify-content: center;
    border-radius: 10px;
}

.contacts {
    color: white;
    padding: 0 2vw;
    font-size: 3vw;
}

.contacts:hover {
    color: #F4A259;
}

.portfolioHeader {
    font-size: 5vw;
    position: relative;
    z-index: 1;
    text-align: center;
    font-family: 'Palanquin', sans-serif;
}

.anchor {
    display: block;
    position: relative;
    visibility: hidden;
}

@media (min-width: 1280px) {
    .bio {
        font-size: 1.5vw;
    }
    .bioHeader {
        font-size: 2vw;
    }
    .headerHeadshot {
        max-width: 25vw;
        margin: auto;
    }
    .header {
        padding-top: 6vw;
    }
    .contactBar {
        margin: 0 8vw;
    }
}

@media (max-width: 750px) {
    .headerHeadshot {
        max-width: 35vw;
        padding-top: 20px
    }
    .contactBar {
        margin: 0 3vw;
    }
    .contacts {
        padding: 0 3vw;
    }
}

@media (max-width: 575px) {
    .bio {
        font-size: 2.5vw;
    }
    .contacts {
        padding: 0 2vw;
        font-size: 16px;
    }
    .portfolioHeader {
        font-size: 7vw;
    }
    .nameHeader {
        font-size: 5.5vw;
        margin-top: 6vw;
    }
    .bioHeader {
        font-size: 3.5vw;
    }
}