.container {
  padding-bottom: 30px;
}

.header {
  padding-top: 9rem;
  max-width: none;
}

.headerSide {
  background-color: rgba(59, 97, 134, 1);
  border-radius: 50px 0 0 50px;
  height: 30vw;
  color: white;
  font-family: 'Palanquin', sans-serif;
}

.headerRight {
  border-radius: 50px 0 0 50px;
  padding: 9vw 0 0 4vw;
}

.headerLeft {
  border-radius: 0 50px 50px 0;
  padding: 2vw 2vw 0 4vw;
}

.headerButton {
  font-family: 'Palanquin', sans-serif;
  font-size: 1.5vw;
  border: 2px solid #FF9900;
  color: #FF9900;
  width: 10vw;
  margin-top: 2vw;
  margin-left: 4vw;
  padding: 5px;
  text-align: center;
}

.headerButton:hover {
  cursor: pointer;
}

.contactBar {
  display: flex;
  background-color: rgba(59, 97, 134, 1);
  position: relative;
  padding: 5px 0;
  width: 23vw;
  top: -30px;
  left: 13.5vw;
  justify-content: center;
  border-radius: 10px;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  margin-left: 10vw;
  width: 30vw;
  height: 30vw;
  border-radius: 50px;
  box-shadow: 
    -2vw -2vw 0 rgba(104, 127, 150, 1),
    -4vw -4vw 0 rgba(200, 211, 221, 1);
}

.headerHomeImage2 {
  margin-top: 2vw;
  margin-left: 10vw;
  width: 30vw;
  height: 30vw;
  border-radius: 50px;
  box-shadow: 
    2vw -2vw 0 rgba(104, 127, 150, 1),
    4vw -4vw 0 rgba(200, 211, 221, 1);
}

.anchor {
  display: block;
  position: relative;
  visibility: hidden;
}

.backToHome {
  margin: 2vw 0 0 5vw;
}

.portfolioHeader {
  font-size: 5vw;
  text-align: center;
  font-family: 'Palanquin', sans-serif;
}

.languageHeader {
  margin-top: 3vw;
  font-size: 3vw;
  text-align: center;
  font-family: 'Palanquin', sans-serif;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  padding-top: 30px;
  padding-left: 20px;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebarElement {
  padding-top: 10px;
  padding-right: 50px;
}

#sidebar-wrapper{
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}
