#indexPage {
    color: white;
    background-color: #051517;
}

.header {
    padding: 20vh 20vh 0vh;
    max-width: none;
    position: relative;
    z-index: 1;
}

.nameHeader {
    font-size: 3em;
    font-family: 'Palanquin', sans-serif;
}

.headerHeadshot {
    width: 25vw;
    height: 25vw;
}

#tsParticles {
    height: 100vh;
    position: fixed;
    z-index: 0;
    width: 100%;
}

.contactBar {
    display: flex;
    background-color: rgb(25, 50, 75);
    position: relative;
    margin-left: 3vw;
    padding: 5px 0;
    width: 20vw;
    top: -25px;
    justify-content: center;
    border-radius: 10px;
}

.contacts {
    color: white;
    padding: 0 2vw;
    font-size: 2em;
}

.portfolioHeader {
    font-size: 5vw;
    text-align: center;
    font-family: 'Palanquin', sans-serif;
}

.anchor {
    display: block;
    position: relative;
    visibility: hidden;
}